# ignore files from compilation:

*.mod
*.o
*.dSYM

# ignore executables
testquats
quatexample

# ignore MAC OS hidden files:

.DS_Store
.AppleDouble
.LSOverride
Icon
._*
Thumbs.db
.Spotlight-V100
.Trashes
